

<div class="container" id="contactBackground">
    
  <h1 class="text-right">#creators</h1>
      
    <br><br>

  <div class="row">
    <div class="col-md-3 text-center" style="display: inline-block">
      <a href="https://github.com/PAUCHOU"><img src="https://avatars3.githubusercontent.com/u/7623974?v=2&s=400" alt="KChou"class="img-rounded .img-responsive" style="width:300px; height:300px"></a>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="text-center">Kevin Chou</h4>
      <h6 class="text-center"><a href="https://github.com/PAUCHOU">

        <!-- <img src="/images/github.png" alt="github" height="45px" width="45px"> -->
        <%= image_tag "github.png" %>


      </a></h6>
      <h6 class="text-center"><a href="https://www.linkedin.com/in/kevinchou723">LinkedIn</a></h6>
      <h6 class="text-center"><a href="https://twitter.com/">Twitter</a></h6>
    </div>

    <div class="col-md-3 text-center" style="display: inline-block">
      <a href="https://github.com/dustin520"><img src="http://d13pix9kaak6wt.cloudfront.net/background/dustin520_1335250084_31.jpg" alt="Dustin Yu"class="img-rounded .img-responsive" style="width:300px; height:300px"></a>
    </div>
      
    <div class="col-md-3 text-center">
      <h4 class="text-center">Dustin Yu</h4>
      <h6 class="text-center"><a href="https://github.com/dustin520">GitHub</a></h6>
      <h6 class="text-center"><a href="www.linkedin.com/in/dustin520/">LinkedIn</a></h6>
      <h6 class="text-center"><a href="https://twitter.com/dustin520">Twitter</a></h6>
    </div>
  </div>


</div>

<br><br>
