

<div class="container">
    
  <h1 class="text-right">#creators</h1>
      
    <br><br>

  <div class="col-md-3 text-center" style="display: inline-block">
    <a href="https://github.com/PAUCHOU"><img src="https://avatars3.githubusercontent.com/u/7623974?v=2&s=400" alt="RanLeung"class="img-rounded .img-responsive" style="width:300px; height:300px"></a>
  </div>
  <div class="col-md-3 text-center">
    <h4 class="text-center">Kevin Chou</h4>
    <h6 class="text-center"><a href="https://github.com/PAUCHOU"><img src="assets/images/github.png" alt="github"></a></h6>
    <h6 class="text-center"><a href="https://www.linkedin.com/profile/view?id=194064546&authType=NAME_SEARCH&authToken=CsfG&locale=en_US&srchid=996978701411549892188&srchindex=2&srchtotal=158&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A996978701411549892188%2CVSRPtargetId%3A194064546%2CVSRPcmpt%3Aprimary">LinkedIn</a></h6>
    <h6 class="text-center"><a href="https://twitter.com/">Twitter</a></h6>
  </div>

  <div class="col-md-3 text-center" style="display: inline-block">
    <a href="https://github.com/dustin520"><img src="http://d13pix9kaak6wt.cloudfront.net/background/dustin520_1335250084_31.jpg" alt="Dustin Yu"class="img-rounded .img-responsive" style="width:300px; height:300px"></a>
  </div>
    
  <div class="col-md-3 text-center">
    <h4 class="text-center">Dustin Yu</h4>
    <h6 class="text-center"><a href="https://github.com/dustin520">GitHub</a></h6>
    <h6 class="text-center"><a href="www.linkedin.com/in/dustin520/">LinkedIn</a></h6>
    <h6 class="text-center"><a href="https://twitter.com/dustin520">Twitter</a></h6>
  </div>


</div>

<br><br>
