
<div class="container">
  
  <h1 class='text-center'>Sign Up</h1>

  <form ng-submit="" class="col-md-offset-3 col-md-6 text-center">
    <input type="text" ng-model="" class="form-control" placeholder="email" required autofocus>
    <input type="text" ng-model="" class="form-control" placeholder="firstname">
    <input type="text" ng-model="" class="form-control" placeholder="lastname">
    <input type="password" ng-model="" class="form-control" placeholder="password">
    <button class="btn btn-primary form-control">Sign Up</button>
  </form>

</div>
