

<div class="container">

  <div class>
    <h1>Welcome to Tweesta <h3><em>Find photos and tweets with the same tag</em></h3></h1>
  </div>


  <hr class="divider-featurette">

  <div class="row text-center col-md-offset-3 col-md-6">
    <!-- SEARCH FOR PHOTO AND TWEET BY TAG -->
      <form ng-submit="tweestas.searchTag(newTag)">
        <input type="text" ng-model="newTag" autofocus required placeholder="Search by tag" class="form-control text-center">
        <button class="form-control btn btn-primary">Search</button>
      </form>
  </div>


  <br><br>

  <!-- DISPLAY TAGS -->
  <div class="row col-md-offset-3 col-md-6 text-center tagsBackground id="tagArea"">
    <span class="text-center" ng-repeat="tags in tweestas.tagArray">
      <button class="tagsDisplay" id="tagButton" ng-click="tweestas.searchTag(tags)" style="cursor:pointer">{{tags}}</button>
    </span>
  </div>

  <button ng-click="tweestas.deleteTag()">Clear all</button>

  <br>

  <div class="container">


      <div class="row col-md-6">
        <!-- DISPLAY TWEETS -->
        <h1 class="text-center">TWITTER TWEETS</h1>
       <ul ng-repeat="saved in tweestas.saved">
          <blockquote class="col-md-6" ng-repeat="obj in saved.twitter">
            {{obj.text}}{{$index}}
          </blockquote>
        </ul>

      </div>

    <div class="row col-md-6">


        <h1 class="text-center">INSTAGRAM PHOTOS</h1>

        <ul ng-repeat="save in tweestas.saved">
          <ul ng-repeat="obj in save.instagram">
            <div class="thumbnail col-md-4">
              <img src="{{obj.images.low_resolution.url}}" height="300px" width="300px" alt="instagram photo" class="img-responsive img-rounded">
              <!-- <p class="caption" height="100px" width="100px">{{obj.caption.text}}</p> -->
            </div>
          </ul>
        </ul>


    </div>
    <br>

  <!-- RE-RUN SEARCH FUNCTION, LOAD MORE -->

  <div class="row">
    <button ng-click="tweestas.loadMore(newTag)" ng-model="newTag" class="col-md-offset-4 col-md-4 text-center btn btn-info">For More</button>
  </div>

  </div>



</div>
