

<div class="container">

  <div class="topBackground jumbotron">
    <h1 class="col-md-offset-1" id="topPage">Welcome to Tweesta <br><small class="col-md-offset-1"><em>Discover life around you through tagged tweets and photos</em></small></h1>
  </div>


  <hr class="divider-featurette">

  <div ng-model="tryNow" ng-hide="showSearch">
    <button class="btn btn-primary col-md-offset-4 col-md-4" ng-click="tweestas.tryMe()">Try Now</button>
  </div>

  <div ng-show="tryNow">
    <div class="row text-center col-md-offset-3 col-md-6" ng-model="renderContent">
      <!-- SEARCH FOR PHOTO AND TWEET BY TAG -->
        <form ng-submit="tweestas.searchTag(newTag)">
          <input type="text" ng-model="newTag" autofocus required placeholder="Search by tag" class="form-control text-center">
          <button class="form-control btn btn-primary">Search</button>
        </form>
          <button ng-click="tweestas.saveTag(newTag)" ng-model="newTag" class="btn form-control">Save Tag</button>
          <button ng-click="tweestas.deleteTag()" class="form-control btn btn-success">Clear all</button>
    </div>
  </div>


  <br><br>

  <!-- DISPLAY TAGS -->
  <div class="row col-md-offset-3 col-md-6 text-center tagsBackground id="tagArea"">
    <span class="text-center" ng-repeat="tags in tweestas.tagArray track by $index">
      <button class="tagsDisplay tagButton" id="tagButton" ng-click="tweestas.searchTag(tags)">#{{tags}}</button>
    </span>
  </div>


  <br>

  <div class="container">

      <div class="row col-md-6" ng-show="renderContent">
        <!-- DISPLAY TWEETS -->
        <h2 class="text-center">
          <a href="https://twitter.com/">
            <%= image_tag "twitter.png", height: '30px', width: '30px' %>
          </a>
          TWITTER TWEETS
        </h2>
       <ul ng-repeat="saved in tweestas.saved track by $index">
          <blockquote class="col-md-6" ng-repeat="obj in saved.twitter track by $index">
            {{obj.text}}{{$index}}
          </blockquote>
        </ul>

      </div>

    <div class="row col-md-6" ng-show="renderContent">

        <h2 class="text-center">
          <a href="https://instagram.com">
            <%= image_tag "instagram.png", height: '30px', width: '30px' %>
          </a>
          INSTAGRAM PHOTOS
        </h2>

        <ul ng-repeat="save in tweestas.saved track by $index">
          <ul ng-repeat="obj in save.instagram track by $index">
            <div class="thumbnail col-md-4">
              <img src="{{obj.images.low_resolution.url}}" height="300px" width="300px" alt="instagram photo" class="img-responsive img-rounded">
              <!-- <p class="caption" height="100px" width="100px">{{obj.caption.text}}</p> -->
            </div>
          </ul>
        </ul>

    </div>
    <br>

  <!-- RE-RUN SEARCH FUNCTION, LOAD MORE -->

  <div class="row" ng-show="renderContent">
    <button ng-click="tweestas.loadMore(newTag)" ng-model="newTag" class="col-md-offset-4 col-md-4 text-center btn btn-info">More</button>
  </div>
    <a href="/" class="text-right col-md-offset-11"><i class="fa fa-arrow-circle-o-up fa-3x"></i></a>


  </div>



</div>
