{{ tweestas.greeting}}

<form ng-submit="tweestas.searchTag(newTag)">
  <input type="text" ng-model="newTag" autofocus required placeholder="Search tags">
  {{newTag}}
  <button>Search</button>
</form>
