

<form ng-submit="tweestas.searchTag(newTag)">
  <input type="text" ng-model="newTag" autofocus required placeholder="Search tags">
  <button>Search</button>
</form>


  <ul ng-repeat="photo in tweestas.results.instagram">
    <img src="{{photo.images.low_resolution.url}}" alt="instagram photo">
  </ul>
  

<hr> <h1>TWEETS</h1> <hr>


  <ul ng-repeat="tweet in tweestas.results.twitter">
    <p>{{tweet.text}}</p>
  </ul>


