

<div class="container">

  <div class>
    <h1>Welcome to Tweesta <h3>Find photos and tweets with the same tag</h3></h1>
  </div>

  <div class="row text-center col-md-offset-3 col-md-6">

      <form ng-submit="tweestas.searchTag(newTag)">
        <input type="text" ng-model="newTag" autofocus required placeholder="Search by tag" class="form-control text-center">
        <button class="form-control btn btn-primary">Search</button>
      </form>
  </div>

  <div class="row">
    <button ng-click="tweestas.loadMore(newTag)" ng-model="newTag" class="col-md-offset-4 col-md-4 text-center btn btn-info">For More</button>
  </div>

  <div class="container">

    <div clas="row">
    </div>
    <div class="row col-md-6">


        <h1>TWITTER TWEETS</h1>

          <ul ng-repeat="save in tweestas.saved">
            <li ng-repeat="obj in save.twitter">
              {{obj.text}} {{$index}}
            </li>
          </ul>


    </div>

    <div class="row col-md-6">


        <h1>INSTAGRAM PHOTOS</h1>

          <ul ng-repeat="save in tweestas.saved">
            <li ng-repeat="obj in save.instagram">
              <img src="{{obj.images.low_resolution.url}}">
              <p>{{obj.caption.text}}</p>
            </li>
          </ul>

    </div>

  </div>



</div>
