div {
  /*border: 1px solid red;*/
}


div .ngscope #contactBackground {
/*  color: green;
  background-color: blue;*/
  /*background-image: url('subtle-texture.png');*/
}


ul.linkIcons {
  display: inline-block;
}

.linkIcons:hover {
  display: inline-block;
  background-color: #428BCA;
}

