div {
  border: '1px solid red'
}

body {
  font-family: 'Arvo', serif;
}

.footerMain {
  display: inline-block;
}

.tagsDisplay {
  background-color: grey;
  display: inline-block;
  padding: 1.25em;
}

.tagsBackground {
  background-color: #FDFBF6;
}

button#tagButton {
  background:none!important;
  border:none;
  padding:0!important;
  /*border is optional*/
  // border-bottom:1px solid #444;
  cursor: pointer;
}

#tagArea {
  border: 1px solid #444;
  border-radius: 10%;
}

#tweestaLogo {
  width: 20px;
  height: 20px;
}
.tagButton {
  color: blue;
  border: black;
  background: red !important;
  cursor: pointer;
}

.siteIcon:hover {
  background: yellow;
}


.jumbotron {
  padding: 0.5em 0.5em;
}

div.topBackground.jumbotron {
  background: url('https://unsplash.imgix.net/43/2EsHHwmRswlLYnaG07Ew_paris-motionbug.com.jpg?q=75&fm=jpg&auto=format&s=c22d69c3e48f5437b7c60152f43e9eb7') no-repeat fixed center;
}