body {
  font-family: 'Arvo', serif;
}

.footerMain {
  display: inline-block;
}

.tagsDisplay {
  display: inline-block;
  background-color: grey;
}

.tagsBackground { 
  background-color: #397DB9;
}