
.navbar {
  padding-top: 1em;
}

body {
  font-family: 'Arvo', serif;
}

.footerMain {
  display: inline-block;
}

.tagsDisplay {
  background-color: grey;
  display: inline-block;
  padding: 1.25em;
}

.tagsBackground {
  background-color: #FDFBF6;
}
Ω™
button#tagButton {
  background:none!important;
  border:none;
  padding:0!important;
  /*border is optional*/
  // border-bottom:1px solid #444;
  cursor: pointer;
}

#tagArea {
  border: 1px solid #444;
  border-radius: 10%;
}

#tweestaLogo {
  width: 20px;
  height: 20px;
}
.tagButton {
  color: blue;
  border: black;
  background: #FDFBF6 !important;
  cursor: pointer;
}

.siteIcon:hover {
  background: yellow;
}


.jumbotron {
  /*padding: 0.5em 0.5em;*/
}

div.topBackground.jumbotron {
  background: url('https://unsplash.imgix.net/43/2EsHHwmRswlLYnaG07Ew_paris-motionbug.com.jpg?q=75&fm=jpg&auto=format&s=c22d69c3e48f5437b7c60152f43e9eb7') no-repeat fixed center;
}

#title {
  color: #428BCA;
}


/* BUTTONS AND HOVERS */

#tryNowBtn {
  padding: 1.3em; 
  background-color: #60513E;
}

#tryNowBtn:hover {
  /*padding: 3em; */
  background-color: white;
  color: #60513E;
}

#tryNowTwitter {
  padding: 1.3em;
  background-color: white;
}

#tryNowTwitter:hover {
  background-color: #428BCA;
}

#searchButton:hover { 
  background-color: #60513E;  
}

#clearButton {
  background-color: #60513E;
  color: white;
}

#clearButton:hover {
  background-color: #428BCA;
  color: white;
}

#saveTagButton {
  border: 1px solid gray;
  background-color: #F2EAE1;
  color: #60513E;
}

#saveTagButton:hover {
  border: 1px solid gray;
  background-color: #42B4E6;
  color: #F2EAE1;
}

#moreButton {
  padding: 1.3em;
  background-color: #60513E;
}

#moreButton:hover {
  padding: 1.3em;
  background-color: white;
  color: #60513E;
}

#signUpBtn {
  background-color: #F2EAE1;
  color: white;
  border-radius: 7%;
}

#signUpBtn:hover {
  background-color: white;
  color: #F2EAE1;
}




/* TESTING */
div {
  /*border: '1px solid red' !important*/
}
