
<div class="container">



    <!-- ABOUT INFORMATION  -->
    <section class="top">
      <div class="col-md-offset-6 col-md-6">
        <div class="row">
          <br>
          <div class="col-md-12">
            <h1 class="text-center">About Tweesta</h1><br>
            <div>
              <p class="text-center">
                We're a search app. You can search photos, from Instagram, and tweets, from Twitter, that contain the SAME TAG! And take a look how words and photos are expressed differently through two of the Most Popular platforms.
              </p>
              <h4 class="text-center"><em>#aboutTweesta</em></h4><br>
            </div>
            <div>
              <p class="text-center">
                It started in a cafe. 3 GA WDI classmates, working on a project. Near desparation, which some consider the best environment for coming up with ideas, one mentioned tags, twitter, instagram.. and moments later, "Tweesta", combonation of 'Tw'-itter and In-'sta'-gram was born. 
              </p>
              <h4 class="text-center"><em>#ideation</em></h4><br>
            </div>
            <div>
              <p class="text-center">
                With the idea in mind, we had a vision. We wanted to line up data side by side from the two platforms and compare how they're used differently. The results are quite interesting and we'll leave that for you to explore!
              </p>
              <h4 class="text-center"><em>#motivation</em></h4><br>
            </div>
            <p>
              Hope you enjoy the app and feel free to reach out to us BELOW!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

      <br><br>

        <div class="container">
          <hr class='featurette-divider'/>
          <br>

            <!-- BUILT WITH - TECH -->
            <div class="row col-md-6">
              <h2 class="text-left">Technology</h2>
              <br>
                <h4>HTML5, CSS3, Bootstrap</h4>
                <h4>JavaScript, CoffeeScript</h4>
                <h4>AngularJS</h4>
                <h4>Ruby On Rails</h4>
                <h4>Twitter API</h4>
                <h4>Instagram API</h4>
            </div>

          <!-- PHOTO AND QUOTE -->
          <div class="row col-md-6">
            <p id ="1" class="text-center"><blockquote class="text-left"><em>“What about searching by tag on instagram and twitter?" - Angga Putra</em></blockquote></p>
          </div>

        </div> <!-- container close for bottom -->

            </div> <!-- row -->
          </div> <!-- container -->