<!DOCTYPE html>
<html>
<head>
  <title>Tweesta</title>
  <link rel="icon" href="/assets/images/instagram-twitter.png" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>
<body ng-app="TweestaApp">

  <!-- NAVIGATION -->
  <div class="container">
    <nav class="navbar navbar-inner" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%= image_tag "instagram-twitter.png", id: "tweestaLogo"%>   Tweesta
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

<div ng-view>
</div>

  <!-- FOOTER -->
  <div class="container">
    <hr>
    <div class="footer navbar-right">
      <ul class="footerMain">
        <p class="text-center">&copy; 2014 <a href="/">Tweesta</a>  
        <a href="/contact" class="text-right">Contact Us</a></p>
      </ul>
      </div>
  </div>

</body>
</html>
